* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

.numberInputContainer {
    display: flex;
    align-items: center;
}
.separator {
    height: fit-content;
    color: #111212;
}
.errorActive {
    display: block;
    color: red;
}
.noError {
    display: none;
}
