* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

.numberInput {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .numberInputContainer {
    display: flex;
    align-items: center;

    font-size: 15px;
    line-height: 18px;
    font-family: "ArialMT";
    color: #333333;

    .separator {
      height: fit-content;
    }
  }

  .error {
    display: block;

    font-size: 13px;
    line-height: 20px;

    color: #FF1100;
  }

  .hide {
    display: none !important;
  }
}

